body{
  font-family: Arial, sans-serif;
  margin-inline: 20%;
  background-color: whitesmoke;
}
main h1{
  font-size: 2em;
}
.container{
  display: flex;
}

main p mark{
  background-color: #fbf7e1;
  font-size: 1.5em;
  padding: 0.2em 0.5em;
  border-radius: 5px;
}

.btn-add-Task{
  float: right;
  background-color: transparent;
  color: rgba(34, 221, 221, 0.849);
  border-radius: 3px;
  border-color: rgba(34, 221, 221, 0.849);
  padding: 4px;
  margin: 4px;
  transition: all 0.2s;
}
.btn-add-Task:hover{
  background-color: rgba(34, 221, 221, 0.849);
  border: 2px solid;
  border-radius: 3px;
  color: white;
  text-align: center;
}
.btn-add-Task:active{
  opacity: 0.5;
}
.Edit{
  text-align: center;
  margin-left: auto;
  background-color: transparent;
  color: rgba(34, 221, 221, 0.849);
  border-radius: 2px;
  border-color: rgba(34, 221, 221, 0.849);
  width: 22px;
  height: 22px;
  padding: 3px;
  transition: all 0.2s;
}
.Edit:hover{
  background-color: rgba(34, 221, 221, 0.849);
  border: 2px solid;
  border-radius: 3px;
  color: white;
  text-align: center;
  border-color: whitesmoke;
}
.Edit:active{
  opacity: 0.5;
}
.remove{
  text-align: center;
  margin-left: auto;
  background-color: transparent;
  color: rgba(47, 49, 49, 0.849);
  border-radius: 2px;
  border-color: rgba(47, 49, 49, 0.849);
  width: 22px;
  height: 22px;
  padding: 3px;
  transition: all 0.2s;
  margin-right: 10px;
}
.remove:active{
  opacity: 0.5;
}
.remove:hover{
  background-color: rgba(47, 49, 49, 0.849);
  border: 2px solid;
  border-radius: 3px;
  color: white;
  text-align: center;
  border-color: whitesmoke;
}

.Todo{
  text-align: center;
  margin-left: auto;
  background-color: transparent;
  color: rgba(47, 49, 49, 0.849);
  border-radius: 3px;
  border-color: rgba(47, 49, 49, 0.849);
  width: 45px;
  height: 25px;
  padding: 3px;
  transition: all 0.2s;
}

.Todo:hover{
  background-color: rgba(47, 49, 49, 0.849);
  border: 2px solid;
  border-radius: 3px;
  color: white;
  text-align: center;
  border-color: rgba(47, 49, 49, 0.849);
}
.Todo:active{
  opacity: 0.5;
}

.Progress{
  text-align: center;
  margin-left: auto;
  background-color: transparent;
  color: #e8d699;
  border-radius: 3px;
  border-color: #e8d699;
  width: 80px;
  height: 25px;
  padding: 3px;
  transition: all 0.2s;
}
.Progress:hover{
  background-color:#f2be17;
  border: 2px solid;
  border-radius: 3px;
  color: black;
  text-align: center;
  border-color: #f2be17;
}
.Progress:active{
  opacity: 0.5;
}

.Complete{
  text-align: justify;
  margin-left: auto;
  background-color: transparent;
  color: green;
  border-radius: 3px;
  border-color: green;
  width: 70px;
  height: 25px;
  padding: 3px;
  transition: all 0.2s;
}
.Complete:hover{
  background-color: green;
  border: 2px solid;
  border-radius: 3px;
  color: black;
  border-color: green;
}
.Complete:active{
  opacity: 0.5;
}
.container-table{
  display: flex;
  flex-direction: column;
  text-align: center;

}

table {
  border-collapse: collapse;
  margin-top: 20px;
}

th {
  border-bottom: 2px solid #000;
}
td{
  padding: 5px;
}

td{
  border-bottom: 2px solid grey;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 60px;
}

.modal-content {
  text-align: center;
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal-content-delete{
  text-align: center;
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  max-width: 500px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.bouton-Valider{
  text-align: center;
  margin-top: 20px;  
  background-color: transparent;
  color: green;
  border-radius: 3px;
  border-color: green;
  width: 100px;  
  height: 35px;  
  padding: 3px;
  transition: all 0.2s;
}

.bouton-Valider:hover{
  background-color: green;
  border: 2px solid;
  border-radius: 3px;
  color: black;
  border-color: green;
}

.bouton-Valider:active{
  opacity: 0.5;
}

.bouton-Valider-non{
  text-align: center;
  margin-left: auto;
  background-color: transparent;
  color: red;
  border-radius: 3px;
  border-color: red;
  width: 60px;
  height: 25px;
  padding: 3px;
  transition: all 0.2s;
}

.bouton-Valider-non:hover{
  background-color: red;
  border: 2px solid;
  border-radius: 3px;
  color: black;
  border-color: red;
}

.bouton-Valider-non:active{
  opacity: 0.5;
}

.bouton-Valider-annuler{
  text-align: center;
  margin-left: auto;
  background-color: transparent;
  color: grey;
  border-radius: 3px;
  border-color: grey;
  width: 60px;
  height: 25px;
  padding: 3px;
  transition: all 0.2s;
}

.bouton-Valider-annuler:hover{
  background-color: grey;
  border: 2px solid;
  border-radius: 3px;
  color: black;
  border-color: grey;
}

.fullscreen-modal .modal-content {
  width: 100%;
  height: 100%;
  max-width: none;
  max-height: none;
  margin: 0;
  border-radius: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.fullscreen-modal .modal-content h2,
.fullscreen-modal .modal-content p,
.fullscreen-modal .modal-content button {
  margin: 20px;
}

span.close{
  align-self: flex-end;
}